/*
 * Author: Sari Haj Hussein
 */
td.pad {
	padding-right: 20px;
}

.navbar-static-top {
	/* margin-bottom: 19px; */
	margin-bottom: 0px;
}

/* Logo */
.logo {
	margin-top: -5px;
	width:auto;
	height:35px;
}

.group-title {
	background-color: #687074 !important;
	color: #FFF !important;
}


.jumbotron {
	background-image: url(http://image.flaticon.com/icons/png/512/62/62773.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-position-x: 90%;
	background-size: auto 100%;
}

.jumbotron p {
	background-color: rgba(250, 250, 250, 0.9);
}