<!--Author: Sari Haj Hussein-->
<div role="main" class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Pozos</h2>
            <div class="panel-body">
                <table  class="table table-striped table-bordered">
                    <thead>
                    <tr> <a href="" onclick="window.location.reload()"><i class="glyphicon glyphicon-refresh"></i> Actualizar </a></tr>
                    <tr>
                        <th>ID</th>
                        <th>Estado</th>
                        <th><a href="pozo/create"><i class="glyphicon glyphicon-plus-sign"></i></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pozo in pozos| orderBy:['id','estado']">
                        <td class="pad">{{pozo.id}} </td>
                        <td> {{pozo.estado}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3>Filtros Temporales</h3>
            <div class="panel-body">
                <select ng-model="filtro" ng-options="f for f in filtros"></select>
                <button data-ng-click="filter()" data-ng-disabled="noChange() || detailForm.$invalid" class="btn btn-primary">Filtrar</button>
            </div>
        </div>
    </div>
</div>